/*body {*/
	/*-webkit-tap-highlight-color: rgba(0,0,0,0);*/
	/*-webkit-touch-callout: none;*/
/*}*/

.md-button {
	width: 30px;
	height: 30px;
	/*border: none;*/
	/*display:inline-block;*/
}

/*.button.raised {*/
	/*transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);*/
	/*transition-delay: 0.2s;*/
	/*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);*/
/*}*/

/*.button.raised:active {*/
	/*box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);*/
	/*transition-delay: 0s;*/
/*}*/

/*.md-button.pink {*/
	/*background-color: #F06292;*/
/*}*/

/*.md-button.brown {*/
	/*background-color: #795548;*/
/*}*/

/*.md-button.white {*/
	/*background-color: #EEEEEE;*/
/*}*/

.button-holder {
	width: 110px;
	padding: 5px;
	/*height: 50px;*/
	/*display: inline;*/
}